/node_modules
/Database/SchülerListe2017_18.csv
/Database/Benutzerliste.csv
/Database/node_modules
Stammdatenverwaltung/.vs/Stammdatenverwaltung/v14/.suo
Stammdatenverwaltung/.vs/Stammdatenverwaltung/v14/.suo
